# Q1. Create one variable containing following type of data: (i) string (ii) list(iii) float (iv) tuple

In [1]:
# String
my_string = "Hello, this is a string."

# List
my_list = [1, 2, 3, 4, 5]

# Float
my_float = 3.14

# Tuple
my_tuple = (6, 7, 8, 9, 10)

# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

In [2]:
# Given variables
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1.0

# Printing data types of the variables
print(f"Data type of var1: {type(var1)}")
print(f"Data type of var2: {type(var2)}")
print(f"Data type of var3: {type(var3)}")
print(f"Data type of var4: {type(var4)}")

Data type of var1: <class 'str'>
Data type of var2: <class 'str'>
Data type of var3: <class 'list'>
Data type of var4: <class 'float'>

# Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [3]:
# Using various operators
a = 10
b = 3

# Division operator (/)
result_division = a / b
print(f"Division result: {result_division}")  

# Modulo operator (%)
result_modulo = a % b
print(f"Modulo result: {result_modulo}") 

# Floor division operator (//)
result_floor_division = a // b
print(f"Floor Division result: {result_floor_division}")  

# Exponentiation operator (**)
result_exponentiation = a ** b
print(f"Exponentiation result: {result_exponentiation}")

Division result: 3.3333333333333335
Modulo result: 1
Floor Division result: 3
Exponentiation result: 1000

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [4]:
my_list = [1, 2.5, 'Hello', True, [1, 2, 3], (4, 5, 6), {'key': 'value'}, None, 9, 10.5]

for element in my_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 1, Data Type: <class 'int'>
Element: 2.5, Data Type: <class 'float'>
Element: Hello, Data Type: <class 'str'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: (4, 5, 6), Data Type: <class 'tuple'>
Element: {'key': 'value'}, Data Type: <class 'dict'>
Element: None, Data Type: <class 'NoneType'>
Element: 9, Data Type: <class 'int'>
Element: 10.5, Data Type: <class 'float'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [8]:
temp = 8
a = 8
b = 2
count = 0
while a>b:
    if(a % b == 0):
        count += 1
        a = a/b

print(f"{temp} is divisible by {b} : {count} times")

8 is divisible by 2 : 2 times

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [9]:
# Creating a list containing 25 integers
my_list = [7, 12, 18, 25, 30, 37, 42, 48, 55, 60, 67, 72, 78, 85, 90, 97, 102, 108, 115, 120, 127, 132, 138, 145, 150]

# Using for loop and if-else condition to check divisibility by 3
for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3")
    else:
        print(f"{element} is not divisible by 3")

7 is not divisible by 3
12 is divisible by 3
18 is divisible by 3
25 is not divisible by 3
30 is divisible by 3
37 is not divisible by 3
42 is divisible by 3
48 is divisible by 3
55 is not divisible by 3
60 is divisible by 3
67 is not divisible by 3
72 is divisible by 3
78 is divisible by 3
85 is not divisible by 3
90 is divisible by 3
97 is not divisible by 3
102 is divisible by 3
108 is divisible by 3
115 is not divisible by 3
120 is divisible by 3
127 is not divisible by 3
132 is divisible by 3
138 is divisible by 3
145 is not divisible by 3
150 is divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

=> In Python, mutable data types are those that can be altered or changed after creation, while immutable data types are those that cannot be changed once they are created. Mutable data types allow in-place modifications, meaning their internal state or value can be modified without the need for reassignment. Immutable data types, on the other hand, do not support in-place modifications, so any attempt to change their value results in the creation of a new object.

Examples of mutable data types include lists, dictionaries, and sets, while examples of immutable data types include integers, floats, strings, and tuples.

In [10]:
# Mutable data type example: list
mutable_list = [1, 2, 3, 4]
print("Original list:", mutable_list)

# Modifying the list
mutable_list.append(5)
mutable_list[1] = 10
print("Modified list:", mutable_list)

# Immutable data type example: tuple
immutable_tuple = (1, 2, 3, 4)
print("Original tuple:", immutable_tuple)

# Attempting to modify the tuple (will result in an error)
try:
    immutable_tuple[1] = 10
except TypeError as e:
    print(f"Error: {e}")

Original list: [1, 2, 3, 4]
Modified list: [1, 10, 3, 4, 5]
Original tuple: (1, 2, 3, 4)
Error: 'tuple' object does not support item assignment